# Ignore everything
*
/*

# Include individual files
!.gitconfig
!.gitignore
!.global.gitignore
!.zshrc
!.zprofile
!.vimrc
!.fzf.zsh
!.aliases
!.macos
!.ideavimrc
!.brew.sh
!.tmux.conf.local

# Recursively allow files under directories
!.vim/
!.vim/**
!.config/
!.config/**
!.github/
!.github/**
!.ssh
!.ssh/work
!.ssh/work/.gitkeep
!.ssh/config



# Exclude some files in directories
.config/karabiner/automatic_backups
.config/brazil
.vim/.netrwhist
btop.log
foo
.config/configstore/
.config/cr/
.config/envman/
.config/fish/
.config/git/
.config/rde/
.config/syncthing/

.aiopylgtv.sqlite
